@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* .custom-home-back {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(236, 161, 90, 0.7),
      #5f2c11b3
    ),
    url(./assets/images/background-img/home-background.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  z-index: -100;
} */
/* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh); */
/* background-attachment: fixed; */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
